<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Telephony & Audio Permissions -->
    <uses-permission android.permission.INTERNET />
    <uses-permission android.permission.RECORD_AUDIO />
    <uses-permission android.permission.READ_PHONE_STATE />
    <uses-permission android.permission.SEND_SMS />
    <uses-permission android.permission.READ_CONTACTS />
    <uses-permission android.permission.FOREGROUND_SERVICE />
    <uses-permission android.permission.FOREGROUND_SERVICE_MICROPHONE />
    <uses-permission android.permission.POST_NOTIFICATIONS />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="S.H.R.U.T.I."
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name=".ui.ShrutiMainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Passive In-Call Listener Service -->
        <service
            android:name=".service.ShrutiCallListenerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone" />

    </application>

</manifest>
